public/index.html
<!doctype html><html lang="es"><head><title>Inicio</title><meta content="width=device-width,initial-scale=1" name="viewport"><meta charset="utf-8"><link rel="icon" type="image/ico" href="img/favicon.ico"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap" rel="stylesheet"><script defer="defer" src="main.bundle.js"></script><link href="css/main.css" rel="stylesheet"></head><body><nav class="nav"><div class="nav-container"><div><a href="#"><img class="nav-logo" src="img/logo.svg" alt="Navbar logo"></a></div><div class="nav-option-wrapper"><div class="nav-option-container"><div class="nav-option"><a class="nav-option-link" href="#"><span>Inicio</span></a></div><div class="nav-option"><a class="nav-option-link" href="#"><span>Acerca de Nosotros</span></a></div><div class="nav-option"><a class="nav-option-link" href="#"><span>Historia</span></a></div><div class="nav-option"><a class="nav-option-link" href="faq.html"><span>Contacto</span></a></div></div><div class="nav-option-container"><div class="nav-option"><a class="nav-option-link" href="#"><span>ES</span></a></div><div class="nav-option"><a class="nav-option-link" href="#"><span>EN</span></a></div></div></div><div class="hamburger-wrapper"><div class="hamburger-line-container" id="hamburgerMenu"><div class="hamburger-line"></div><div class="hamburger-line"></div><div class="hamburger-line"></div></div></div><div class="hamburger-menu-container" id="menuContainer"><div class="hamburger-menu"><div class="hamburger-menu-header"><a id="hideHamburger"><img src="img/close.svg"></a></div><div class="hamburger-menu-body"><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">Inicio</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">Acerca de nosotros</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">Historia</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">Contacto</span></a></div></div></div></div></div></nav><div class="home"><div class="home-principal"><div class="line"></div><div class="home-principal-content"><p>Las mejores raquetas para<br>jugar <span>Tennis</span></p><button><span>acerca de nosotros</span><img src="img/arrow-white.svg"></button></div></div><div class="home-text"><div class="home-text-title">Raquetas.Accesorios.<br>Pelotas.</div><div class="home-text-action"><div class="home-text-subtitle">Conoce nuestras raquetas y aprende a jugar<br>Tennis cómo un profesional.</div><button>Historia<img src="img/arrow-black.svg"></button></div></div><div class="home-carrousel"><div class="home-carrousel-left"><div class="home-carrousel-text"><div class="home-carrousel-title">Nuestras<br><span>Raquetas</span></div><div class="home-carrousel-subtitle">Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.</div><div class="home-carrousel-dots"><div id="dotOne"></div><div id="dotTwo"></div><div id="dotThree"></div><div id="dotFour"></div></div><div class="home-carrousel-nav"><div id="prev"><img id="inverted" src="img/carrousel-triangle.svg"></div><div id="next"><img src="img/carrousel-triangle.svg"></div></div></div></div><div class="home-carrousel-images"><div class="home-carrousel-wrapper"><div><div class="number">1</div><img src="img/raqueta.png"></div><div><div class="number">2</div><img src="img/raqueta.png"></div><div><div class="number">3</div><img src="img/raqueta.png"></div><div><div class="number">4</div><img src="img/raqueta.png"></div></div></div></div><div class="home-banner"><img src="img/athlete.jpg" srcset="img/athlete@2x.jpg 2x, img/athlete@3x.jpg 3x"></div></div><footer class="footer"><img class="footer-logo" src="img/logo.svg" alt="Footer logo"><div class="footer-links"><a href="#">Inicio</a><a href="#">Acerca de nosotros</a><a href="#">Historia</a><a href="#">Contacto</a></div><div class="footer-icons"><a href="#"><img src="img/linkedin.svg"></a><a href="#"><img src="img/vimeo.svg"></a><a href="#"><img src="img/instagram.svg"></a><a href="#"><img src="img/twitter.svg"></a><a href="#"><img src="img/facebook.svg"></a></div></footer></body></html>

src/templates/pages/index.pug
extends ../base

block title
  | Inicio

block content
  .home
    .home-principal
      .line
      .home-principal-content
        p Las mejores raquetas para <br> jugar <span>Tennis</span>
        button
          span acerca de nosotros
          img(src="img/arrow-white.svg")
    .home-text
      .home-text-title Raquetas.Accesorios.<br>Pelotas.
      .home-text-action
        .home-text-subtitle Conoce nuestras raquetas y aprende a jugar <br> Tennis cómo un profesional.
        button
          | Historia
          img(src="img/arrow-black.svg")
    .home-carrousel
      .home-carrousel-left
        .home-carrousel-text
          .home-carrousel-title Nuestras <br> <span>Raquetas</span>
          .home-carrousel-subtitle Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.
          .home-carrousel-dots
            div#dotOne
            div#dotTwo
            div#dotThree
            div#dotFour
          .home-carrousel-nav
            div#prev
              img#inverted(src="img/carrousel-triangle.svg")
            div#next
              img(src="img/carrousel-triangle.svg")
      .home-carrousel-images
        .home-carrousel-wrapper
          div
            .number 1
            img(src="img/raqueta.png")
          div
            .number 2
            img(src="img/raqueta.png")
          div
            .number 3
            img(src="img/raqueta.png")
          div
            .number 4
            img(src="img/raqueta.png")
    .home-banner
      img(src="img/athlete.jpg" srcset="img/athlete@2x.jpg 2x, img/athlete@3x.jpg 3x")
